$bg-primary-color: #1a1b1f;
$bg-secondary-color: #212329;
$bg-tertiary-color: #313237;
$border-color: #3a3c47;
$bg-btn-color: #3482e7;
$bg-btn-color-secondary: #ff4757;
$text-color: #eaedf6;
$link-color-light: #a26bd3;
$link-color-dark: #551a8b;

$transition-menu: all .5s ease; 

$section-margin: 60px;